<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Classic isolated service: forked from zygote, inherits AID_READPROC,
             runs the wide cross-process mount scan (Privisolated technique). -->
        <service
            android:name=".DemoProbeService"
            android:isolatedProcess="true" />

        <!-- Native isolated service: on Android 17 this routes to zygote_next and
             runs in init's GLOBAL mount namespace (ZygoteNextProbe technique).
             The nativeService attribute is ignored on pre-17 platforms. -->
        <service
            android:name=".NativeProbeService"
            android:isolatedProcess="true"
            android:nativeService="true" />

        <!-- Share exported report/log files from cacheDir. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
